@use "../global" as *;

/*-----------------------------------------------
base
-----------------------------------------------*/
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    color: var(--color-text);
    overflow-x: hidden;
}

main {
    padding-top: 100px;

    @include mq(md) {
        padding-top: 60px;

    }
}

img {
    vertical-align: bottom;
    width: 100%;
    height: auto;
}

a {
    transition: all 0.3s ease;

    @include hover {
        color: var(--color-link-hover);
    }
}

a[href^="tel:"] {
    pointer-events: none;
    cursor: default;

    @include mq(md) {
        pointer-events: auto;
        cursor: pointer;
    }
}

.container {
    width: $container-max-width;
    margin-inline: auto;


    &__inner {
        padding: 64px;

        &--white-bg {
            background-color: #fff;
        }

        &--rounded {
            border-radius: 12px;
        }
    }

    @include mq(lg) {
        &__inner {
            padding: 32px;
        }
    }

    @include mq(md) {
        width: 100%;
        padding: 0 16px;

        &__inner {
            padding: 32px 16px;
        }
    }
}

.section {
    &--ptb {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    &--pt {
        padding-top: 100px;
    }

    &__title {
        font-family: var(--font-family-title);
        font-weight: 700;
        line-height: 1.75;
        letter-spacing: 0.1em;
    }

    @include mq(md) {
        &--ptb {
            padding-top: 48px;
            padding-bottom: 48px;
        }

        &--pt {
            padding-top: 48px;
        }
    }
}

.badge-list {
    display: flex;
    gap: 10px;
}

.badge {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #F6F4EE;
    color: #7D6E4A;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
}

.triangle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    &__img {
        width: 25.3px;
    }
}

.text-center {
    text-align: center;
}

.bg {
    background-color: var(--color-bg);
}

.bg-qa {
    background-color: #F6F4EE;
}

.mb-100 {
    margin-bottom: 100px;

    @include mq(md) {
        margin-bottom: 48px;
    }
}

.mb-64 {
    margin-bottom: 64px;

    @include mq(md) {
        margin-bottom: 32px;
    }
}

.mb-48 {
    margin-bottom: 48px;
}

.mb-48-md {
    margin-bottom: 48px;

    @include mq(md) {
        margin-bottom: 24px;
    }
}

.mb-48-md0 {
    margin-bottom: 48px;

    @include mq(md) {
        margin-bottom: 0;
    }
}

.md-mb-48 {

    @include mq(md) {
        margin-bottom: 48px;
    }
}