@use "../global" as *;

/*-----------------------------------------------
header
-----------------------------------------------*/
.header {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    font-size: 14px;
    @include z-index(header);

    &__logo {
        padding-top: 10px;
        width: 492px;
        transition: .3s;

        img {
            width: 492px;
        }

    }

    &__inner {
        width: (1440 - 80) / 1440 * 100%; //横幅80pxを引いた
        margin-inline: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @include mq(md) {
        height: 60px;

        &__logo {
            padding-top: 12.6px;
            width: 214px;
            min-width: 214px;

            img {
                width: 214px;
            }

        }

        &__inner {
            align-items: center;
        }
    }
}

.nav {
    width: 700 / 1440 * 100vw;

    &__list {
        text-align: center;
        justify-content: flex-end;
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &.is-active {

        transition: opacity .4s ease;
        width: 100%;
        height: 100%;
        opacity: 1;
        pointer-events: all;
        position: fixed;
        z-index: map-get($layer, header-active);
        top: 0;
        right: 0;
        background: var(--color-brand);
        text-align: left;

        a,
        .nav__dropdown-toggle {
            color: #fff;
        }
    }

    &__item {
        transition: .3s;
        font-weight: 500;
        font-family: var(--font-family-nav);
        line-height: 1.5;
        text-align: center;
        text-transform: uppercase;
        position: relative;

        a {
            color: var(--color-nav);
            display: block;
            width: 100%;

            @include hover {
                color: var(--color-brand);
            }
        }

        &--has-child {
            .nav__dropdown {
                opacity: 0;
                visibility: hidden;
                transform: translateY(10px);
            }

            &.is-active {
                .nav__dropdown {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }

                // .nav__dropdown-icon {
                //     transform: rotate(180deg);
                // }
            }
        }

        &--contact {
            background: #000;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 22px;
            margin-left: 10px;

            a {
                font-size: 14px;
                color: #fff;
                padding: 11.5px 0;
                width: 134px;
            }

            @include hover {
                opacity: .8;

                a {
                    color: #fff;
                }
            }

        }

        &--privacy {
            display: none;
        }
    }

    &__dropdown-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        background: none;
        border: none;
        padding: 0;
        color: var(--color-nav);
        font-weight: 400;
        font-family: var(--font-family-nav);
        font-size: inherit;
        text-transform: uppercase;
        cursor: pointer;
        transition: .3s;

        @include hover {
            color: var(--color-brand);
        }
    }

    &__dropdown-icon {
        display: inline-block;
        width: 10px;
        height: 5.5px;
        position: relative;
        transition: .3s;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 10px;
            height: 5.5px;
            background-image: url(../img/common/menu_arrow.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &__dropdown {
        position: absolute;
        top: 32px;
        left: 0;
        transform: translateX(0) translateY(10px);
        background: #fff;
        padding: 32px;
        border-radius: 8px;
        box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
        min-width: 256px;
        z-index: map-get($layer, header);

        // &::before {
        //     content: '';
        //     position: absolute;
        //     top: -8px;
        //     left: 50%;
        //     transform: translateX(-50%);
        //     border-radius: 8px;
        // }

        &-item {
            text-align: left;
            margin-bottom: 16px;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                color: var(--color-text);
                font-size: 16px;
                line-height: 1.75;
                text-transform: none;
                transition: all 0.3s ease;

                @include hover {
                    color: var(--color-brand);
                }
            }
        }
    }

    @include mq(xl) {

        &__list {
            gap: 20px;
        }
    }

    @include mq(lg) {
        max-width: 100%;
        height: 0;
        opacity: 0;
        pointer-events: none;

        &__list {
            padding: 48px 30px;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            margin: 0 auto;
            position: absolute;
            width: 100%;
            top: 60px;
            left: 50%;
            transform: translate(-50%, 0%);
        }

        &__item {
            font-size: 2.4rem;
            margin: 0;
            text-align: left;

            &--contact {
                width: 100%;
                text-align: center;
                border-radius: 36px;
                background: inherit;
                border: 1px solid #fff;


                a {
                    font-size: 1.8rem;
                    font-weight: 700;
                    width: 100%;
                    padding: 25.5px 0;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        right: 30px;
                        transform: translate(0, -50%);
                        width: 15px;
                        height: 12px;
                        background-image: url(../img/common/arrow-right.svg);
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }

            &--privacy {
                display: block;
                text-transform: none;
                margin: 32px 0;

                a {
                    color: #fff;
                    font-size: 1.4rem;
                    line-height: 1.5;
                    font-weight: 500;

                }
            }

            &--has-child {
                .nav__dropdown {
                    position: static;
                    transform: none;
                    box-shadow: none;
                    background: transparent;
                    padding: 0;
                    opacity: 1;
                    visibility: visible;
                    margin-top: 8px;

                    &::before {
                        display: none;
                    }
                }
            }

            @include hover {
                a {
                    color: #fff;
                }
            }

        }

        &__dropdown {
            &-icon {
                display: none;
            }

            &-item {
                a {
                    font-size: 1.4rem;
                    line-height: 1.5;
                    font-weight: 500;
                    padding: 0 16px;
                }
            }
        }
    }

    @media (width <=375px) {
        &__list {
            top: 30px;
            padding: 20px 30px;
        }
    }
}

.burger {
    --opacity: 1;
    --rotate: 0;
    --translate: 3px;
    position: fixed;
    top: 20px;
    right: 20px;

    place-items: center;
    width: 60px;
    aspect-ratio: 1;
    display: none;

    &.is-active {
        --opacity: 0;
        --rotate: 150deg;
        --translate: 0;
        position: fixed;
        z-index: map-get($layer, burger);

        span {
            background-color: #fff;
        }
    }

    span {

        width: 24px;
        height: 1px;
        border-radius: 2px;
        background-color: var(--color-text);
        grid-area: 1/1/-1/-1;
        transition: opacity .4s ease, rotate .4s ease, translate .4s ease;


        &:nth-child(1) {
            translate: 0 calc(var(--translate) * -1);
            rotate: var(--rotate);
        }

        &:nth-child(2) {
            translate: 0 var(--translate);
            rotate: calc(var(--rotate) * -1);
        }

    }

    @include mq(lg) {
        display: grid;
    }

    @include mq(md) {
        top: 0;
        right: 0;
    }
}