@use "../global" as *;

/*-----------------------------------------------
page
-----------------------------------------------*/
.page {
    &__header-title {
        padding: 64px 0;
        max-width: $container-max-width;
        margin-inline: auto;
        font-family: var(--font-family-title);
        display: flex;
        flex-direction: column;

        .en {
            text-transform: uppercase;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1;
        }

        .ja {
            font-size: 5.6rem;
            font-weight: 700;
            line-height: 1.6;
        }
    }

    &__title {
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.5;
        margin-bottom: 8px;

        &--center {
            text-align: center;
        }

        &--mb-48 {
            margin-bottom: 48px;
        }
    }

    &__thumbnail {
        width: 1340 / 1440 * 100%;
        margin-bottom: 100px;
        border-radius: 0 20px 20px 0;

        img {
            border-radius: 0 20px 20px 0;
            aspect-ratio: 1440 / 400;

        }

    }



    &__item {

        &:before {
            position: relative;
            top: -2px;
            left: 0;

            display: inline-block;

            width: 4px;
            height: 4px;

            content: '';

            border-radius: 100%;
            background: #333;
            margin: 2px .5em;
        }
    }

    @include mq(md) {
        &__header-title {
            max-width: 100%;
            padding: 48px 16px;

            .ja {
                padding: 16px 0;
                font-size: 2.8rem;
                line-height: 1.5;
            }
        }

        &__thumbnail {
            width: 374 / 390 * 100%;
            margin-bottom: 48px;

            img {

                aspect-ratio: 374 /280;
            }
        }

        &__title {
            font-size: 2.4rem;
        }
    }

}


.intro {
    &__title {
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.5;
        margin-bottom: 8px;
    }

    &__sub-title {
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.5;
    }


    &__inner {
        text-align: center;
        margin-bottom: 48px;
    }

    &__wrapper {
        padding: 64px 96px;
        border-radius: 12px;
        background-color: var(--color-brand);
        color: #fff;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
    }

    &__item {
        color: #333;
        border-radius: 7px;
        background: #fff;
        padding: 32px;
        text-align: center;
        position: relative;

        &::before {
            position: absolute;
            top: -10px;
            left: 7px;
            content: "";
            width: 24px;
            height: 17px;
            background-image: url(../img/service/icon.svg);
            background-size: contain;
            background-repeat: no-repeat;
        }

        h4 {
            width: 100%;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
            height: 56px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    @include mq(md) {
        &__title {
            font-size: 2.4rem;
        }

        &__text {
            text-align: left;
        }
    }
}

.page-service {
    &__inner {
        padding: 64px 0;
    }

    &__header {
        text-align: center;
        height: 60px;
    }

    &__title {
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.5;


    }

    &__sub-title {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5;

        &--center {
            text-align: center;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;

        &--row {
            flex-direction: row;
            gap: 32px;

            .page-service__item {
                gap: 15px;
                padding: 0;
                border-bottom: none;
            }

            .page-service__sub-title {
                font-size: 1.6rem;
            }
        }

        @include mq(md) {
            &--row {
                flex-direction: column;
                gap: 40px;
            }
        }
    }

    &__item {
        padding: 40px 0;
        border-bottom: 1px solid var(--color-brand);
        display: flex;
        flex-direction: column;
        gap: 40px;

        &--gap-24 {
            gap: 24px;
        }

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            border-bottom: none;
        }
    }

    &__num-list {
        display: flex;
        gap: 20px;
    }

    &__num-item {
        display: flex;
        flex-direction: column;
        border-radius: 12px;
        background: #fff;
        width: 400 / 1440 * 100vw;

    }

    &__num-item-header {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;

    }

    &__num-item-num {
        color: #B9AC88;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1;
        font-family: var(--font-family-title);
    }

    &__num-item-title {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5;
    }

    &__textbox {
        padding: 64px 40px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__num-img {
        border-radius: 0 0 12px 12px;
        overflow: hidden;
    }

    &__content {
        display: flex;
        margin-inline: auto;
        gap: 40px;

        &--center {
            align-items: center;
        }
    }

    &__text-box {
        width: 760 / 1440 * 100vw;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__img {
        width: 440 / 1440 * 100vw;
        border-radius: 12px;

        img {
            border-radius: 12px;
        }
    }

    &__list-img {
        border-radius: 10px;

        img {
            border-radius: 10px;
        }
    }

    &__flex {
        display: flex;
        gap: 40px;
    }

    @include mq(lg) {
        &__inner {
            padding: 0 0 48px;
        }

        &__img {
            width: 100%;
        }

        &__content {
            flex-direction: column;
        }

        &__text-box {
            width: 100%;
        }

        &__flex {
            flex-direction: column;
        }
    }

    @include mq(md) {

        &__title {
            font-size: 2rem;
        }

        &__sub-title {
            font-size: 1.6rem;
        }

        &__item {
            gap: 24px;
        }
    }
}

.detail {
    &__list {
        display: flex;
        gap: 8px;
    }

    &__item {
        display: flex;
        gap: 8px;

        &:before {
            content: "／";
            display: inline-block;
        }

        &:first-child {
            &:before {
                content: "";
                display: none;
            }
        }
    }
}

.result {
    border: 1px solid #DAD5C7;
    border-radius: 12px;
    display: flex;

    &__title {
        font-family: var(--font-family-title);
        color: #A49365;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5;
        margin-bottom: 24px;
    }

    &__item {
        padding: 64px;
        border-right: 1px solid #DAD5C7;

        &:last-child {
            border-right: none;
        }
    }

    @include mq(lg) {
        &__item {
            padding: 32px 16px;
        }
    }

    @include mq(md) {
        flex-direction: column;
    }
}

.support {
    &__bold {
        font-weight: 700;
    }

    &__inner {
        background: #fff;
        padding: 40px 64px;
        border-radius: 12px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        gap: 24px;
    }

    &__item {
        display: flex;
        gap: 24px;
        width: 27.6%;
        position: relative;

        &::after {
            content: "";
            display: block;
            width: 1px;
            height: 68.3px;
            background: #DAD5C7;
            position: absolute;
            top: 0;
            right: -48px;
        }

        &:last-child {
            &::after {
                display: none;
            }
        }
    }

    &__title {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.75;

    }

    &__icon {
        width: 42px;
        min-width: 42px;
    }

    &__point {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.5;
        text-align: center;

        span {

            color: #7D6E4A;
            background: linear-gradient(transparent 70%, rgba(185, 172, 136, 0.2) 70%);
        }
    }

    &__textbox {
        padding: 64px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__flex {
        display: flex;
        justify-content: space-between;
        background: #fff;
        border-radius: 12px;
    }

    &__read {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.5;

        span {
            color: #7D6E4A;
        }
    }

    &__img {
        overflow: hidden;
        border-radius: 0 12px 12px 0;
    }


}

.page-business {
    border-radius: 12px;
    background: #A49365;
    color: #fff;
    padding: 64px 96px;

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    &__item {
        padding: 32px 40px;

        &:first-child {
            border-right: 1px solid #fff;
            border-bottom: 1px solid #fff;
        }

        &:nth-child(2) {
            border-bottom: 1px solid #fff;
        }

        &:nth-child(3) {
            border-right: 1px solid #fff;
        }
    }

    &__item-header {
        font-size: 140px;
        font-weight: 600;
        line-height: 1.4;
        letter-spacing: -7px;

        span {
            font-size: 56px;
            line-height: 1;
            letter-spacing: 0;
            margin-left: 8px;
        }
    }

    &__title {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5;
        margin-bottom: 8px;
    }


}

.gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 26px;

}