/*-----------------------------------------------
variables
-----------------------------------------------*/
$color-brand: #A49365;
$color-brand-sub: #F6F4EE;
$color-text: #333;
$color-nav: #333;
$color-bg-form: rgb(#D8E7F4, 0.4);
$color-required: #FF0000;


$font-family-base: 'Noto Sans JP', sans-serif;
$font-family-title: 'Noto Sans JP', sans-serif;
$font-family-nav: "Work Sans", sans-serif;

$line-height-base: 1.75;

$font-size-base: 1.6rem;
$font-size-page-title: 3.6rem;

$container-max-width: 1240 / 1440 * 100%;